.transaction-table {
  color: #f5f7fd;
  max-width: 1000px;
  width: 100%;
  margin: 20px 10vw;
}

.transaction-table .title {
  display: flex;
  justify-content: space-between;
}

.transaction-table .title button {
  background-color: #f5f7fd;
  border: 0;
  border-radius: 3px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
}

.transaction-table .title button:hover {
  background-color: #ffffff;
}

.transaction-table .title button:active {
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.8);
}
.transaction-table .title button img {
  width: 12px;
}

.transaction-table .title button div {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}

.transaction-table .title .content {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.transaction-table table {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
}

.transaction-table table thead th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0px;
}
.transaction-table table tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.transaction-table table tr td {
  text-align: center;
  padding: 5px 0px;
}

.transaction-table table tr td.actions {
  display: flex;
  justify-content: center;
}

.transaction-table table tr td.actions div {
  display: flex;
}

.transaction-table table tr td.actions button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 5px 5px;
  align-content: center;
  border: 0;
}

.transaction-table table tr td.actions button:hover {
  background-color: #1b232d;
  border-radius: 3px;
}

.transaction-table table tr td.actions button img {
  width: 15px;
}

@media only screen and (max-width: 850px) {
  .transaction-table table thead tr {
    display: none;
  }
  .transaction-table table td {
    border: none;
  }
  .transaction-table table {
    table-layout: fixed;
  }
  .transaction-table table tbody tr {
    word-wrap: break-word;
  }

  .transaction-table table tbody td {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .transaction-table table tbody td * {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
  }
  .transaction-table table tr td.actions {
    justify-content: space-between;
  }
  .transaction-table table tr td.actions div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: fit-content;
  }
  .transaction-table table td:before {
    font-weight: 600;
  }
  .transaction-table table td:nth-of-type(1):before {
    content: "#";
  }
  .transaction-table table td:nth-of-type(2):before {
    content: "Type";
  }
  .transaction-table table td:nth-of-type(3):before {
    content: "Price";
  }
  .transaction-table table td:nth-of-type(4):before {
    content: "Quantity";
  }
  .transaction-table table td:nth-of-type(5):before {
    content: "Date & Time";
  }
  .transaction-table table td:nth-of-type(6):before {
    content: "Cost";
  }
  .transaction-table table td:nth-of-type(7):before {
    content: "Actions";
  }
}
