.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.container {
  width: 85%;
  background-color: #1b232d;
  color: #f5f7fd;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 3vh 0px;
}

.container input {
  background-color: #111317;
  color: #f5f7fd;
  border: 1px;
  border-color: rgba(246, 248, 253, 0.5);
  border-style: solid;
  border-radius: 10px;
}
.form {
  width: 30%;
  padding-left: 5vw;
}
.form .title {
  font-size: 24px;
  font-weight: 600;
}

.form .form-group {
  font-weight: 200;
  font-size: 14px;
  margin-top: 10px;
}

.form.login .form-group {
  margin-top: 20px;
}
.form .form-group input {
  font-weight: 200;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
}
.form .form-group.submit input {
  font-weight: 600;
  background-color: #00a445;
  border: none;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}
.form .form-group.submit input:hover {
  background-color: #008148;
}
.form .form-group.submit input:active {
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.8);
}
.container .image img {
  width: 100%;
}
.container .image {
  width: 40%;
  padding-left: 5vw;
}
.container .image.login {
  width: 35%;
  padding-left: 5vw;
}
.container .image.checked {
  width: 20%;
  padding-left: 5vw;
}
.login-redirect {
  margin-top: 10px;
  text-align: center;
  font-weight: 200;
}
.login-redirect a {
  color: #f5f7fd;
  font-weight: 500;
  text-decoration: underline;
}

.form-group .submit {
  display: flex;
  align-items: center;
}
.error-msg {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #c3151c;
}
.error-msg.notification {
  color: #f5f7fd;
  text-align: center;
}
.login-redirect.otp a {
  text-decoration: underline;
}

.form.success .title {
  color: #00a445;
}

.form.success {
  text-align: center;
}
.form.success .title {
  margin-bottom: 3vh;
}

.form.success button {
  margin-top: 3vh;
  font-weight: 600;
  background-color: #00a445;
  border: none;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1vh 2vw;
  font-size: 2.5vh;
  color: #f5f7fd;
}
.form.success button:hover {
  background-color: #008148;
}
.form.success button:active {
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.login-redirect.forgot-password a {
  text-decoration: none;
  font-weight: 200;
  font-size: 15px;
}

@media only screen and (max-width: 850px) {
  .container .image img {
    display: none;
  }
  .form {
    width: 100%;
    padding-right: 5vw;
  }
  .container {
    flex-wrap: wrap;
  }
}
